<div class="row">

  <div class="col-md-6">
    <app-chat-room></app-chat-room>
  </div>

  <div *ngIf="isInChatroom" class="col-md-6">
    <h2>Welcome {{loginService.user.userName}}</h2>
    <button class="btn btn-primary btn-sm" (click)="changeUsername()">Change username</button>
    <div id="chat">
      <div id="chat-messages">
        <div *ngIf="msgInbox.length===0">
          <p>You haven't sent or received messages</p>
        </div>
        <div *ngFor="let m of msgInbox">
          <div>{{m.DateTime | date:'HH:mm'}}
            <span style="color:rgb(167, 17, 17)">{{m.UserName}}</span>: {{m.Text}}
          </div>
        </div>
      </div>
      <div id="chat-form">
        <input type="text" [(ngModel)]="message" placeholder="Enter a message" (keyup.enter)="sendMessage()" />
        <button [disabled]="message.length==0" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>

</div>