<div *ngIf="isInChatroom">
  <h2>Welcome {{loginService.user.UserName}}</h2>
  <button class="btn btn-primary btn-sm" (click)="changeUsername()">Change username</button>
  <div id="chat">
    <div id="chat-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div *ngIf="msgInbox.length===0">
        <p>You haven't sent or received messages</p>
      </div>
      <div *ngFor="let m of msgInbox">
        <div [innerHtml]="m"></div>
      </div>
    </div>
    <div id="chat-form">
      <input type="text" [(ngModel)]="message" placeholder="Enter a message" (keyup.enter)="sendMessage()" />
      <button [disabled]="message.length==0" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>