<div *ngIf="isInChatroom">
  <h4>Welcome {{loginService.user.UserName}}</h4>
  <button class="btn btn-primary btn-sm" (click)="changeUsername()">Change username</button>
  <div id="chat">
    <div id="chat-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div *ngIf="msgInbox.length===0">
        <p>You haven't sent or received messages</p>
      </div>
      <div *ngFor="let m of msgInbox">
        <div [innerHtml]="m"></div>
      </div>
    </div>
    <div id="chat-form">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="message" placeholder="Enter a message"
          (keyup.enter)="sendMessage()">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" [disabled]="message.length==0"
            (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>