<app-chat-room></app-chat-room>

<h2 *ngIf="username.length > 0">Welcome {{username}}</h2>
<button class="btn btn-primary btn-sm" (click)="changeUsername()">Change username</button>
<div id="chat">
  <div id="chat-messages">
    <div *ngIf="chatSignalRService.messages.length==0">
      <p>You haven't sent or received messages</p>
    </div>
    <div *ngFor="let m of chatSignalRService.messages">
      <div>{{m.UserName}}: {{m.Text}}</div>
    </div>
  </div>
  <div id="chat-form">
    <input type="text" [(ngModel)]="message" placeholder="Enter a message" />
    <button class="btn btn-primary" [disabled]="message.length==0" (click)="sendMessage()">Send</button>
  </div>
</div>