<h2>Chatrooms</h2>

<p>Create new chatroom</p>
<button class="btn btn-primary btn-sm" (click)="create()">Create</button>
<p>current chatroom: {{chatroomId}}</p>

<h3>Open chatrooms</h3>
<div *ngFor="let c of chatrooms">
    <div class="row">
        <div class="col-sm-9">
            {{c.Id}} ({{c.Users.length}}/{{MAX_USERS}})
        </div>
        <div class="col-sm-1">
            <button *ngIf="c.Users.length < MAX_USERS" class="btn btn-outline-success btn-sm" (click)="joinRoom(c.Id)">join</button>
        </div>
        <div class="col-sm-1">
            <button *ngIf="c.Id === chatroomId" class="btn btn-outline-danger btn-sm"
                (click)="leaveRoom(c.Id)">leave</button>
        </div>
    </div>
</div>